@font-face {
    font-family: "Roboto Bold";
    src: url("../public/fonts/Roboto-Bold.ttf");
  }
  
  @font-face {
    font-family: "Roboto Regular";
    src: url("../public/fonts/Roboto-Regular.ttf");
  }
  
  :root {
    --main-bg: hsl(235, 18%, 26%);
    --dark-text-color: hsl(234, 29%, 20%);
    --light-text-color: hsl(0, 0%, 100%);
    --bold-font: 'Roboto Bold';
    --regular-font: 'Roboto Regular';
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }